## Intro to Machine Learning
#### Teacher: Carl Shan
##### Student: Vanessa Chen

In [68]:
import pandas as pd
import numpy as np
import sklearn
from sklearn.cluster import KMeans, DBSCAN
%pylab inline

Populating the interactive namespace from numpy and matplotlib

/Library/Frameworks/Python.framework/Versions/3.6/lib/python3.6/site-packages/IPython/core/magics/pylab.py:160: UserWarning: pylab import has clobbered these variables: ['test']
`%matplotlib` prevents importing * from pylab and numpy
  "\n`%matplotlib` prevents importing * from pylab and numpy"

This dataset is

In [69]:
data = pd.read_csv("Nutrition__Physical_Activity__and_Obesity_-_Behavioral_Risk_Factor_Surveillance_System.csv", sep=',')

In [70]:
data.head()

,YearStart,YearEnd,LocationAbbr,LocationDesc,Datasource,Class,Topic,Question,Data_Value_Unit,Data_Value_Type,...,GeoLocation,ClassID,TopicID,QuestionID,DataValueTypeID,LocationID,StratificationCategory1,Stratification1,StratificationCategoryId1,StratificationID1
0,2011,2011,AL,Alabama,Behavioral Risk Factor Surveillance System,Obesity / Weight Status,Obesity / Weight Status,Percent of adults aged 18 years and older who ...,NaN,Value,...,"(32.84057112200048, -86.63186076199969)",OWS,OWS1,Q036,VALUE,1,Total,Total,OVR,OVERALL
1,2011,2011,AL,Alabama,Behavioral Risk Factor Surveillance System,Obesity / Weight Status,Obesity / Weight Status,Percent of adults aged 18 years and older who ...,NaN,Value,...,"(32.84057112200048, -86.63186076199969)",OWS,OWS1,Q036,VALUE,1,Gender,Male,GEN,MALE
2,2011,2011,AL,Alabama,Behavioral Risk Factor Surveillance System,Obesity / Weight Status,Obesity / Weight Status,Percent of adults aged 18 years and older who ...,NaN,Value,...,"(32.84057112200048, -86.63186076199969)",OWS,OWS1,Q036,VALUE,1,Gender,Female,GEN,FEMALE
3,2011,2011,AL,Alabama,Behavioral Risk Factor Surveillance System,Obesity / Weight Status,Obesity / Weight Status,Percent of adults aged 18 years and older who ...,NaN,Value,...,"(32.84057112200048, -86.63186076199969)",OWS,OWS1,Q036,VALUE,1,Education,Less than high school,EDU,EDUHS
4,2011,2011,AL,Alabama,Behavioral Risk Factor Surveillance System,Obesity / Weight Status,Obesity / Weight Status,Percent of adults aged 18 years and older who ...,NaN,Value,...,"(32.84057112200048, -86.63186076199969)",OWS,OWS1,Q036,VALUE,1,Education,High school graduate,EDU,EDUHSGRAD

In [71]:
#data = pd.read_csv("NORMAL_DLY_sample_csv.csv", sep=',')

#### Step 0: Loading and inspecting my data

In [72]:
data = pd.read_csv("Wholesale customers data.csv", sep=',')

In [73]:
data.head()

   Channel  Region  Fresh  Milk  Grocery  Frozen  Detergents_Paper  Delicassen
0        2       3  12669  9656     7561     214              2674        1338
1        2       3   7057  9810     9568    1762              3293        1776
2        2       3   6353  8808     7684    2405              3516        7844
3        1       3  13265  1196     4221    6404               507        1788
4        2       3  22615  5410     7198    3915              1777        5185

#### Step 1: Getting just the subset of the data that is numeric

In [74]:
data.dtypes

Channel             int64
Region              int64
Fresh               int64
Milk                int64
Grocery             int64
Frozen              int64
Detergents_Paper    int64
Delicassen          int64
dtype: object

In [75]:
# Selecting just the columns that are not 'objects'. 'Object' columns are categorical colums. We want everything else.
numeric_cols = data.dtypes[data.dtypes != object]

In [76]:
numeric_cols

Channel             int64
Region              int64
Fresh               int64
Milk                int64
Grocery             int64
Frozen              int64
Detergents_Paper    int64
Delicassen          int64
dtype: object

In [77]:
### Let's convert the numeric_cols variable to a list, which our DataFrame can work with. We can do this by
### accessing the .index attribute of the numeric_cols variable.
numeric_cols_names = numeric_cols.index

In [78]:
numeric_cols_names

Index(['Channel', 'Region', 'Fresh', 'Milk', 'Grocery', 'Frozen',
       'Detergents_Paper', 'Delicassen'],
      dtype='object')

In [79]:
cluster_data = data[numeric_cols_names] #getting all the numerical data

In [80]:
cluster_data.head()

   Channel  Region  Fresh  Milk  Grocery  Frozen  Detergents_Paper  Delicassen
0        2       3  12669  9656     7561     214              2674        1338
1        2       3   7057  9810     9568    1762              3293        1776
2        2       3   6353  8808     7684    2405              3516        7844
3        1       3  13265  1196     4221    6404               507        1788
4        2       3  22615  5410     7198    3915              1777        5185

#### Step 2: Creating a K-Means model with K=2, and then fitting it

In [81]:
kmeans_model = KMeans(n_clusters=2, random_state=0)#creates a k-means model with skit-learn's kmeans

In [82]:
fitted_model = kmeans_model.fit(cluster_data)#fits the model to our data

In [83]:
fitted_model.labels_ #these are the predictions

array([0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1,
       1, 1, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 1, 0, 0, 1, 1, 0, 0, 0, 0, 0,
       0, 1, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 0, 1, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 1, 1, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 1,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       1, 0, 1, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0,
       1, 0, 0, 0, 0, 0, 1, 1, 1, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 1,
       0, 0, 0], dtype=int32)

In [84]:
cluster_data['2Means Cluster Predictions'] = fitted_model.labels_

#### Step 4: Inspecting this K-Means model

In [85]:
### Let's look at the first 10 rows
cluster_data.head(n=10)

,Channel,Region,Fresh,Milk,Grocery,Frozen,Detergents_Paper,Delicassen,2Means Cluster Predictions
0,2,3,12669,9656,7561,214,2674,1338,0
1,2,3,7057,9810,9568,1762,3293,1776,0
2,2,3,6353,8808,7684,2405,3516,7844,0
3,1,3,13265,1196,4221,6404,507,1788,0
4,2,3,22615,5410,7198,3915,1777,5185,1
5,2,3,9413,8259,5126,666,1795,1451,0
6,2,3,12126,3199,6975,480,3140,545,0
7,2,3,7579,4956,9426,1669,3321,2566,0
8,1,3,5963,3648,6192,425,1716,750,0
9,2,3,6006,11093,18881,1159,7425,2098,0

In [86]:
cluster0 = cluster_data[cluster_data['2Means Cluster Predictions'] == 0] #only getting cluster data where this 'cluster_data['2Means Cluster Predictions'] == 0' is true
cluster1 = cluster_data[cluster_data['2Means Cluster Predictions'] == 1]

In [87]:
#find the means for all the columns
for column in cluster_data.columns:
    mean0 = cluster0[column].mean()
    mean1 = cluster1[column].mean()
    print("")
    print("Evaluating column: **{c}**".format(c=column))
    print("        Cluster 0 Mean: {m0:.3f}, Cluster 1: {m1:.3f}".format(m0=mean0, m1=mean1))
    print("        Difference in means = {diff:.3f}".format(diff=abs(mean0 - mean1)))
    print("")
    print("-----------------------------------------------------------------")

Evaluating column: **Channel**
        Cluster 0 Mean: 1.341, Cluster 1: 1.215
        Difference in means = 0.126

-----------------------------------------------------------------

Evaluating column: **Region**
        Cluster 0 Mean: 2.528, Cluster 1: 2.631
        Difference in means = 0.103

-----------------------------------------------------------------

Evaluating column: **Fresh**
        Cluster 0 Mean: 7944.112, Cluster 1: 35401.369
        Difference in means = 27457.257

-----------------------------------------------------------------

Evaluating column: **Milk**
        Cluster 0 Mean: 5151.819, Cluster 1: 9514.231
        Difference in means = 4362.412

-----------------------------------------------------------------

Evaluating column: **Grocery**
        Cluster 0 Mean: 7536.128, Cluster 1: 10346.369
        Difference in means = 2810.241

-----------------------------------------------------------------

Evaluating column: **Frozen**
        Cluster 0 Mean: 2484.131, Cluster 1: 6463.092
        Difference in means = 3978.962

-----------------------------------------------------------------

Evaluating column: **Detergents_Paper**
        Cluster 0 Mean: 2872.557, Cluster 1: 2933.046
        Difference in means = 60.489

-----------------------------------------------------------------

Evaluating column: **Delicassen**
        Cluster 0 Mean: 1214.261, Cluster 1: 3316.846
        Difference in means = 2102.585

-----------------------------------------------------------------

Evaluating column: **2Means Cluster Predictions**
        Cluster 0 Mean: 0.000, Cluster 1: 1.000
        Difference in means = 1.000

-----------------------------------------------------------------

**Step 2.5: Trying a different number of clusters for Kmeans**

After looking through the dataset, I thought it might be reasonable to assume that the numbers of clusters would be 6 (after first doing the dbscan_model), and use 'k-means++' for more accurate initial cluster selection

In [88]:
kmeans_model2 = KMeans(n_clusters=6,random_state=0)

In [89]:
fitted_model2 = kmeans_model2.fit(cluster_data)#fits the model to our data

In [90]:
fitted_model2.labels_ #these are the predictions

array([0, 3, 3, 0, 0, 3, 0, 3, 3, 4, 4, 0, 5, 0, 5, 3, 4, 3, 0, 3, 0, 3, 5,
       4, 0, 0, 3, 0, 4, 5, 0, 3, 0, 5, 3, 3, 5, 4, 4, 1, 0, 0, 4, 4, 3, 4,
       4, 2, 0, 4, 3, 3, 5, 4, 5, 3, 4, 4, 0, 3, 3, 2, 3, 4, 3, 2, 3, 0, 3,
       3, 0, 0, 3, 0, 3, 0, 3, 4, 0, 3, 3, 4, 4, 0, 0, 2, 2, 5, 3, 5, 0, 0,
       4, 0, 4, 3, 3, 3, 3, 3, 4, 4, 3, 1, 0, 0, 3, 4, 3, 4, 0, 4, 0, 0, 0,
       0, 0, 3, 0, 3, 0, 3, 0, 0, 5, 1, 0, 0, 3, 5, 3, 3, 0, 3, 3, 3, 3, 3,
       0, 3, 0, 5, 5, 0, 0, 4, 3, 3, 3, 5, 0, 3, 0, 3, 3, 4, 4, 0, 3, 4, 3,
       0, 0, 4, 3, 4, 3, 3, 3, 3, 4, 4, 3, 4, 3, 4, 5, 0, 0, 3, 0, 1, 4, 1,
       3, 3, 3, 3, 4, 4, 0, 0, 3, 4, 3, 0, 5, 3, 0, 3, 4, 4, 5, 3, 3, 4, 3,
       3, 3, 4, 0, 2, 3, 3, 3, 4, 4, 0, 4, 3, 0, 3, 3, 3, 3, 0, 0, 3, 3, 3,
       0, 3, 5, 3, 0, 3, 3, 0, 3, 5, 0, 0, 0, 0, 3, 4, 3, 0, 0, 3, 3, 4, 3,
       5, 0, 5, 0, 3, 1, 5, 3, 3, 0, 3, 4, 4, 4, 0, 4, 0, 3, 3, 3, 5, 3, 3,
       5, 0, 0, 0, 3, 0, 5, 5, 1, 5, 3, 0, 0, 5, 3, 3, 3, 4, 0, 3, 0, 3, 3,
       3, 0, 4, 3, 4, 4, 3, 4, 0, 3, 4, 3, 5, 4, 3, 0, 4, 3, 3, 0, 4, 3, 3,
       0, 0, 5, 1, 3, 3, 0, 3, 3, 4, 0, 2, 0, 5, 0, 3, 3, 3, 3, 3, 3, 4, 3,
       3, 4, 5, 3, 4, 3, 4, 3, 4, 0, 3, 0, 4, 3, 3, 0, 3, 3, 3, 3, 3, 3, 3,
       0, 3, 5, 0, 3, 0, 3, 3, 4, 5, 3, 3, 5, 0, 5, 3, 4, 0, 3, 0, 3, 3, 3,
       3, 3, 0, 0, 3, 3, 0, 0, 3, 3, 5, 5, 5, 0, 3, 5, 4, 3, 3, 3, 3, 3, 3,
       3, 3, 4, 3, 4, 3, 4, 0, 5, 0, 0, 0, 4, 5, 3, 3, 4, 3, 0, 3, 0, 5, 5,
       4, 3, 3], dtype=int32)

In [91]:
cluster_data['6Means Cluster Predictions'] = fitted_model2.labels_

**Step 2.75: Inspecting the new Kmeans model**

In [92]:
### Let's look at the first 10 rows
cluster_data.head(n=10)

,Channel,Region,Fresh,Milk,Grocery,Frozen,Detergents_Paper,Delicassen,2Means Cluster Predictions,6Means Cluster Predictions
0,2,3,12669,9656,7561,214,2674,1338,0,0
1,2,3,7057,9810,9568,1762,3293,1776,0,3
2,2,3,6353,8808,7684,2405,3516,7844,0,3
3,1,3,13265,1196,4221,6404,507,1788,0,0
4,2,3,22615,5410,7198,3915,1777,5185,1,0
5,2,3,9413,8259,5126,666,1795,1451,0,3
6,2,3,12126,3199,6975,480,3140,545,0,0
7,2,3,7579,4956,9426,1669,3321,2566,0,3
8,1,3,5963,3648,6192,425,1716,750,0,3
9,2,3,6006,11093,18881,1159,7425,2098,0,4

In [93]:
cluster0 = cluster_data[cluster_data['6Means Cluster Predictions'] == 0] #only getting cluster data where this 'cluster_data['2Means Cluster Predictions'] == 0' is true
cluster1 = cluster_data[cluster_data['6Means Cluster Predictions'] == 1]
cluster2 = cluster_data[cluster_data['6Means Cluster Predictions'] == 2]
cluster3 = cluster_data[cluster_data['6Means Cluster Predictions'] == 3]
cluster4 = cluster_data[cluster_data['6Means Cluster Predictions'] == 4]
cluster5 = cluster_data[cluster_data['6Means Cluster Predictions'] == 5]

In [106]:
#find the means for all the columns and find the maximum and minimum ranges between the means
for column in cluster_data.columns:
    #find max and min of the mean list in order to find the maximum range and the minimum range 
    mean_list = []
    
    mean0 = cluster0[column].mean()
    mean_list.append(mean0)
    mean1 = cluster1[column].mean()
    mean_list.append(mean1)
    mean2 = cluster2[column].mean()
    mean_list.append(mean2)
    mean3 = cluster3[column].mean()
    mean_list.append(mean3)
    mean4 = cluster4[column].mean()
    mean_list.append(mean4)
    mean5 = cluster5[column].mean()
    mean_list.append(mean5)
    
    #testing
    #print(mean_list)
    max_mean = max(mean_list)
    min_mean = min(mean_list)
    print("Max mean: " + str(max_mean))
    print("Min mean: " + str(min_mean))
    
    ##########find the maximum and minimum range
    test = max(zip(mean_list, mean_list[1:]),key = lambda x: x[1]-x[0])
    #print("test:"+str(test))
    test2 = min(zip(mean_list, mean_list[1:]),key = lambda x: x[1]-x[0])
    #print("test2:"+str(test2))
    minimum_range = abs(test[0]-test2[1])
    print("minimum range: "+ str(minimum_range))
    maximum_range = max_mean-min_mean
    print("maximum range: " + str(maximum_range))
    
    
    print("")
    print("Evaluating column: **{c}**".format(c=column))
    print("        Means: Cluster 0 : {m0:.3f}, Cluster 1: {m1:.3f}, Cluster 2: {m2:.3f}".format(m0=mean0, m1=mean1, m2=mean2))
    print("        Means: Cluster 3: {m3:.3f}, Cluster 4: {m4:.3f}, Cluster 5: {m5:.3f}".format(m3=mean3, m4=mean4, m5=mean5))
    print("")
    print("-----------------------------------------------------------------")

Max mean: 2.0
Min mean: 1.0
minimum range: 0.177419354839
maximum range: 1.0

Evaluating column: **Channel**
        Means: Cluster 0 : 1.216, Cluster 1: 1.000, Cluster 2: 2.000
        Means: Cluster 3: 1.177, Cluster 4: 1.910, Cluster 5: 1.133

-----------------------------------------------------------------
Max mean: 2.625
Min mean: 2.51612903226
minimum range: 0.0223325062035
maximum range: 0.108870967742

Evaluating column: **Region**
        Means: Cluster 0 : 2.552, Cluster 1: 2.625, Cluster 2: 2.571
        Means: Cluster 3: 2.516, Cluster 4: 2.538, Cluster 5: 2.622

-----------------------------------------------------------------
Max mean: 61903.375
Min mean: 4670.8172043
minimum range: 3895.43226601
maximum range: 57232.5577957

Evaluating column: **Fresh**
        Means: Cluster 0 : 16135.853, Cluster 1: 61903.375, Cluster 2: 20031.286
        Means: Cluster 3: 4670.817, Cluster 4: 5206.385, Cluster 5: 33290.133

-----------------------------------------------------------------
Max mean: 38084.0
Min mean: 3187.15517241
minimum range: 9973.48252688
maximum range: 34896.8448276

Evaluating column: **Milk**
        Means: Cluster 0 : 3187.155, Cluster 1: 13358.375, Cluster 2: 38084.000
        Means: Cluster 3: 3384.892, Cluster 4: 12241.000, Cluster 5: 4951.200

-----------------------------------------------------------------
Max mean: 56126.1428571
Min mean: 4233.77419355
minimum range: 6214.60080645
maximum range: 51892.3686636

Evaluating column: **Grocery**
        Means: Cluster 0 : 4413.552, Cluster 1: 10448.375, Cluster 2: 56126.143
        Means: Cluster 3: 4233.774, Cluster 4: 18842.179, Cluster 5: 5621.067

-----------------------------------------------------------------
Max mean: 21728.75
Min mean: 1604.20512821
minimum range: 1079.8682266
maximum range: 20124.5448718

Evaluating column: **Frozen**
        Means: Cluster 0 : 3644.440, Cluster 1: 21728.750, Cluster 2: 2564.571
        Means: Cluster 3: 2271.812, Cluster 4: 1604.205, Cluster 5: 4209.511

-----------------------------------------------------------------
Max mean: 27644.5714286
Min mean: 955.488888889
minimum range: 73.1048387097
maximum range: 26689.0825397

Evaluating column: **Detergents_Paper**
        Means: Cluster 0 : 1050.319, Cluster 1: 1301.250, Cluster 2: 27644.571
        Means: Cluster 3: 1374.355, Cluster 4: 8249.628, Cluster 5: 955.489

-----------------------------------------------------------------
Max mean: 9270.125
Min mean: 978.102150538
minimum range: 1123.90147783
maximum range: 8292.02284946

Evaluating column: **Delicassen**
        Means: Cluster 0 : 1424.241, Cluster 1: 9270.125, Cluster 2: 2548.143
        Means: Cluster 3: 978.102, Cluster 4: 1857.833, Cluster 5: 1931.000

-----------------------------------------------------------------
Max mean: 1.0
Min mean: 0.0
minimum range: 0.025641025641
maximum range: 1.0

Evaluating column: **2Means Cluster Predictions**
        Means: Cluster 0 : 0.052, Cluster 1: 1.000, Cluster 2: 0.571
        Means: Cluster 3: 0.000, Cluster 4: 0.026, Cluster 5: 1.000

-----------------------------------------------------------------
Max mean: 5.0
Min mean: 0.0
minimum range: 1.0
maximum range: 5.0

Evaluating column: **6Means Cluster Predictions**
        Means: Cluster 0 : 0.000, Cluster 1: 1.000, Cluster 2: 2.000
        Means: Cluster 3: 3.000, Cluster 4: 4.000, Cluster 5: 5.000

-----------------------------------------------------------------

#### Step 3: Replicating the with DB Scan

In [95]:
from sklearn.preprocessing import StandardScaler

In [96]:
X = StandardScaler().fit_transform(cluster_data) #scale all data, so they are on the same scale -
#just a data processing technique

In [97]:
pd.DataFrame(data=X)

,0,1,2,3,4,5,6,7,8,9
0,1.448652,0.590668,0.052933,0.523568,-0.041115,-0.589367,-0.043569,-0.066339,-0.416333,-1.507766
1,1.448652,0.590668,-0.391302,0.544458,0.170318,-0.270136,0.086407,0.089151,-0.416333,0.274017
2,1.448652,0.590668,-0.447029,0.408538,-0.028157,-0.137536,0.133232,2.243293,-0.416333,0.274017
3,-0.690297,0.590668,0.100111,-0.624020,-0.392977,0.687144,-0.498588,0.093411,-0.416333,-1.507766
4,1.448652,0.590668,0.840239,-0.052396,-0.079356,0.173859,-0.231918,1.299347,2.401922,-1.507766
5,1.448652,0.590668,-0.204806,0.334067,-0.297637,-0.496155,-0.228138,-0.026224,-0.416333,0.274017
6,1.448652,0.590668,0.009950,-0.352316,-0.102849,-0.534512,0.054280,-0.347854,-0.416333,-1.507766
7,1.448652,0.590668,-0.349981,-0.113981,0.155359,-0.289315,0.092286,0.369601,-0.416333,0.274017
8,-0.690297,0.590668,-0.477901,-0.291409,-0.185336,-0.545854,-0.244726,-0.275079,-0.416333,0.274017
9,1.448652,0.590668,-0.474497,0.718495,1.151423,-0.394488,0.954031,0.203461,-0.416333,0.867944
10,1.448652,0.590668,-0.683474,-0.053346,0.529133,0.273876,0.649984,0.077791,-0.416333,0.867944
11,1.448652,0.590668,0.090692,-0.633787,-0.361162,-0.340664,-0.489769,-0.364894,-0.416333,-1.507766
12,1.448652,0.590668,1.560499,0.884800,0.400925,-0.574313,0.209873,0.499176,2.401922,1.461871
13,1.448652,0.590668,0.729576,0.055851,0.740672,0.004757,0.803267,-0.327619,-0.416333,-1.507766
14,1.448652,0.590668,1.001564,0.497659,0.436111,-0.572869,0.457016,0.228311,2.401922,1.461871
15,-0.690297,0.590668,-0.138313,-0.635143,-0.435116,-0.551629,-0.402629,-0.395069,-0.416333,0.274017
16,1.448652,0.590668,-0.869179,0.409623,0.439272,-0.605865,0.341529,-0.157929,-0.416333,0.867944
17,-0.690297,0.590668,-0.484788,0.048933,-0.528665,-0.460479,-0.527355,1.048362,-0.416333,0.274017
18,1.448652,0.590668,0.522499,0.071993,0.226258,-0.178780,-0.024041,0.587926,-0.416333,-1.507766
19,-0.690297,0.590668,-0.334071,-0.447812,0.159362,-0.495536,-0.076325,-0.363474,-0.416333,0.274017
20,1.448652,0.590668,0.438987,-0.173259,-0.352839,-0.413666,-0.130709,0.212691,-0.416333,-1.507766
21,-0.690297,0.590668,-0.509248,-0.668106,-0.625901,0.064149,-0.526305,-0.339334,-0.416333,0.274017
22,-0.690297,0.590668,1.525828,-0.526217,-0.366851,1.306634,-0.105092,0.997242,2.401922,1.461871
23,1.448652,0.590668,1.137716,4.154476,1.482005,0.429367,0.305623,5.324340,2.401922,0.867944
24,1.448652,0.590668,0.842773,0.539846,0.615308,-0.032363,0.336069,1.509862,2.401922,-1.507766
25,1.448652,0.590668,0.329670,-0.212462,-0.037533,-0.592048,0.235490,-0.521094,-0.416333,-1.507766
26,-0.690297,0.590668,-0.166414,-0.655897,-0.536250,0.016306,-0.554232,-0.245614,-0.416333,0.274017
27,-0.690297,0.590668,0.180140,-0.677330,-0.516866,-0.533481,-0.584049,-0.357439,-0.416333,-1.507766
28,1.448652,0.590668,-0.624343,1.992372,1.896865,-0.394694,1.201593,1.306802,-0.416333,0.867944
29,-0.690297,0.590668,2.460843,-0.501394,-0.562798,-0.386033,-0.372602,-0.249164,2.401922,1.461871
...,...,...,...,...,...,...,...,...,...,...
410,-0.690297,0.590668,-0.424865,-0.501936,-0.356948,-0.347057,-0.214490,0.130331,-0.416333,0.274017
411,-0.690297,0.590668,-0.781630,-0.340107,-0.492004,-0.316948,-0.555702,1.008247,-0.416333,0.274017
412,-0.690297,0.590668,-0.942242,-0.297242,0.468664,-0.613289,0.018584,-0.519319,-0.416333,0.274017
413,-0.690297,0.590668,-0.555476,-0.127139,-0.138878,3.050856,-0.413548,0.323096,-0.416333,0.274017
414,-0.690297,0.590668,-0.477426,-0.516315,-0.477677,0.537634,-0.366723,-0.438379,-0.416333,0.274017
415,1.448652,0.590668,-0.329163,0.033876,0.063285,-0.284778,0.138271,0.123941,-0.416333,0.274017
416,1.448652,0.590668,-0.602496,0.697741,0.311485,-0.458623,0.807677,-0.188814,-0.416333,0.867944
417,-0.690297,0.590668,-0.548985,-0.040324,0.326971,-0.558434,0.126722,-0.163964,-0.416333,0.274017
418,1.448652,0.590668,-0.897676,0.365944,1.124138,-0.606071,0.810196,-0.265849,-0.416333,0.867944
419,-0.690297,0.590668,-0.248501,-0.273097,-0.603462,-0.502960,-0.273283,-0.001374,-0.416333,0.274017
420,-0.690297,0.590668,-0.597192,-0.071930,0.555786,-0.628343,0.826575,-0.046814,-0.416333,0.867944
421,1.448652,0.590668,0.400754,-0.128767,0.116064,-0.420884,0.112024,0.091991,-0.416333,-1.507766
422,-0.690297,0.590668,1.139853,-0.599468,-0.398139,-0.462335,-0.405989,-0.108939,2.401922,1.461871
423,1.448652,0.590668,0.440491,-0.286255,-0.347045,-0.415110,-0.226458,-0.304189,-0.416333,-1.507766
424,1.448652,0.590668,0.394184,-0.395045,0.450965,-0.453261,0.069609,-0.452934,-0.416333,-1.507766
425,-0.690297,0.590668,-0.059946,-0.459614,-0.564483,2.531590,-0.582369,0.128201,-0.416333,-1.507766
426,-0.690297,0.590668,0.089742,0.481652,0.670510,0.014243,0.461425,0.131041,-0.416333,0.867944
427,-0.690297,0.590668,1.504930,1.477314,-0.265717,2.476735,-0.512867,-0.128464,2.401922,1.461871
428,-0.690297,0.590668,-0.708726,0.023567,-0.320392,-0.180224,-0.426566,-0.428794,-0.416333,0.274017
429,-0.690297,0.590668,-0.268607,-0.548871,-0.460505,-0.623806,-0.587408,0.346526,-0.416333,0.274017
430,-0.690297,0.590668,-0.704768,-0.212462,0.898799,-0.514921,-0.554442,0.197071,-0.416333,0.867944
431,-0.690297,0.590668,-0.274465,-0.039374,-0.294055,2.147605,-0.315909,-0.009539,-0.416333,0.274017
432,-0.690297,0.590668,0.721661,-0.628632,-0.336826,-0.578025,-0.326197,-0.401104,-0.416333,-1.507766
433,-0.690297,0.590668,-0.793029,-0.349738,-0.680366,-0.315711,-0.530295,-0.026934,-0.416333,0.274017
434,-0.690297,0.590668,0.374473,-0.254242,0.004501,-0.491618,-0.107192,-0.243839,-0.416333,-1.507766
435,-0.690297,0.590668,1.401312,0.848446,0.850760,2.075222,-0.566831,0.241091,2.401922,1.461871
436,-0.690297,0.590668,2.155293,-0.592142,-0.757165,0.296561,-0.585519,0.291501,2.401922,1.461871
437,1.448652,0.590668,0.200326,1.314671,2.348386,-0.543380,2.511218,0.121456,-0.416333,0.867944
438,-0.690297,0.590668,-0.135384,-0.517536,-0.602514,-0.419441,-0.569770,0.213046,-0.416333,0.274017
439,-0.690297,0.590668,-0.729307,-0.555924,-0.573227,-0.620094,-0.504888,-0.522869,-0.416333,0.274017

Originally, eps = 3, min_samples = 3, but that didn't work for my dataset, because it only estimated 1 cluster, with a Silhouette coefficient of 0.672.

I noticed that as eps increased, the number of clusters predicted tended to decrease, while changing min_samples did not have a large effect

I feel that a more accurate dbscan_model has eps=2, min_samples=2, because although the Silhouette coefficient decreased (to .370), it predicted 6 clusters, which seems more reasonable (as having 1 cluster really doesn't mean the model clustered anything). Secondly, I know from the dataset that the data is comparing the average prices spent on various grocery items from 3 regions and 2 channels, so it is highly likely that there would be 6 different clusters separating the data.  

However, when I changed it to eps = 3, keeping min_samples at 2, I got an estimated number of clusters as 2, with a higher silhouette coefficient (.619). This makes sense because the data is split between two channels, and it could be that the different regions themselves are not that important, rather the deciding factor is the channels.

In [98]:
dbscan_model = DBSCAN(eps=3, min_samples=2)

In [99]:
fitted_model = dbscan_model.fit(X)

In [100]:
labels = fitted_model.labels_ #getting the predictions, like above with Kmeans

In [101]:
labels

array([ 0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,
        0,  0,  0,  0,  0,  0, -1,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,
        0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  1,  0,  0,  0,
        0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  1,  0,  0,  0,  0,  0,  0,
        0,  0,  0, -1,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,
       -1, -1, -1,  0,  0,  0,  0,  0, -1,  0,  0,  0,  0,  0,  0,  0,  0,
        0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,
        0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,
        0,  0,  0,  0,  0,  0,  0,  0,  0, -1,  0,  0,  0,  0,  0,  0,  0,
        0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,
        0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0, -1,  0, -1,  0,  0,  0,
        0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,
        0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,
        0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,
        0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,
        0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,
        0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,
        0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,
        0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,
        0,  0, -1,  0,  0,  0,  0,  0,  0,  0, -1,  0,  0,  0,  0,  0,  0,
        0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,
        0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,
        0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,
        0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,
        0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,
        0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0])

#### Step 4: Using sklearn metrics to measure goodness of fit

In [102]:
from sklearn import metrics

In [103]:
# #############################################################################
# Compute DBSCAN Metrics

# Number of clusters in labels, ignoring noise if present.
if -1 in labels:
    n_clusters_ = len(set(labels)) - 1
else:
    n_clusters = len(set(labels))

print('Estimated number of clusters: {n}'.format(n=n_clusters_))
print("Silhouette Coefficient: {:0.3f}".format(metrics.silhouette_score(X, labels)))

Estimated number of clusters: 2
Silhouette Coefficient: 0.619